@import 'shared.css';

a {
    text-decoration: none;
}

.tabs__ {
    width: 100%; min-width: 700px;
}

.tabs__uptab {
    background-color: white; padding: .8em;
    border-bottom: 6px solid rgb(200, 200, 200);
    height: 4em;
}

/*.tabs__uptab__content {
    margin: 0;
}*/

.tabs__uptab__content__logo {
    outline: 2px solid gray; position: absolute;
    font-size: 48px; cursor: pointer;
}

.tabs__centertab {
    border-collapse: collapse; box-sizing: border-box;
    background-color: white;
    outline: 6px solid rgb(200, 200, 200);
    margin: 19.2px 5vw;
    min-height: 50em;
}

.line_grid_layout {
    grid-template-columns: repeat(4, 1fr);
    display: inline-grid;
    float: right;
}

.line_grid_layout div a, .line_grid_layout div a h2 {
    float: right;
}

.line_grid_layout div:not([last]) {
    margin-right: 2em;
}
