{% extends "template/main.html" %}
{% load static %}

{% block styles %}
    <link href="{% static 'css/todos.css' %}" rel="stylesheet">
{% endblock %}

{% block inblock %}
    <form method="post" id="post_form"> {% csrf_token %}
    {% if todos %}
        <div style="position: absolute" id="sync_div"></div>
        <div class="todo__line_grid_layout" id="list_of_todos">
                    {% for sheet in todos %}
                    <div class="todo__block" id="todo__block_{{forloop.counter}}">
                        <a class="todo__delete_object" account="{{forloop.counter}}" onclick="delete_table(this);">
                            <h2>удалить?</h2>
                        </a>
                        <p>
                            <input maxlength="60" oninput="sync_information()" placeholder="Оглавление..." value="{{sheet.title}}">
                        </p>
                        <p>
                            <textarea maxlength="250" oninput="sync_information(); autosize(this)" placeholder="Что надо сделать...">{{sheet.text}}</textarea>
                        </p>
                        <label name="completed_{{forloop.counter}}" class="toggler-wrapper style-1">
                            <input type="checkbox" onchange="sync_information()" {% if sheet.finished %}
                                    checked
                                {% endif %}>
                            <div class="toggler-slider">
                                <div class="toggler-knob"></div>
                            </div>
                        </label>
                        <label for="completed_{{forloop.counter}}">
                            Завершенно?
                        </label>
                    </div>
                    {% endfor %}
                    <div id="create_new_todo">
                        <a class="todo__delete_object" onclick="create_todo_post();"><h1>новое дело</h1></a>
                    </div>
                </div>
        {% else %}
            <h1 id="not_exists_message">
                <center>У вас пока нет ни одной записи</center>
                <a class="todo__delete_object" onclick="create_todo_post();"><center>Создать</center></a>
            </h1>
        {% endif %}
    </form>
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        var timer = null;
        var sync_div_timer = null;
        function sync_div_timer_func(response) {
            let json = JSON.parse(response);
            if (json["status"] == "ok") {
                sync_div.style.color = "lightgreen";
                sync_div.textContent = "готово!";
            } else {
                sync_div.style.color = "red";
                sync_div.textContent = "ошибка!";
            }

            if (sync_div_timer) {clearTimeout(sync_div_timer);}
            sync_div_timer = setTimeout(
              () => {
                sync_div.textContent = ""
              },
              2000
            );
        }
        function send_data() {
            let result = [];
            let all_blocks = document.querySelectorAll('.todo__block');
            for (i=0; i<all_blocks.length;i++) {
                let children = all_blocks[i].children;
                result.push({
                            title: children[children.length - 4].children[0].value,
                            text: children[children.length - 3].children[0].value,
                            finished: children[children.length - 2].children[0].checked,
                        });
            }
            $.ajax({
                headers: {'X-CSRFToken': csrftoken},
                url: "{% url 'todos_controller' %}",
                data: "json=" + JSON.stringify(result),
                dataType: 'text',
                type: 'POST',
                success: sync_div_timer_func,
                error: sync_div_timer_func,
            });
        }
        function sync_information() {
            if (timer) {clearTimeout(timer);}
            sync_div.style.color = "black";
            sync_div.textContent = "синхронизация";
            timer = setTimeout(
              send_data,
              1000
            );
            
        }

        function delete_element(el) {
            el.parentNode.removeChild(el);
        }
        function correction_of_ids_textareas() {
            document.querySelectorAll('.todo__delete_object[account]').forEach((el, i) => {
                el.setAttribute("account", i + 1);
            });
            document.querySelectorAll('.todo__block').forEach((el, i) => {
                el.id = "todo__block_" + (i + 1);
            });
        }
        function create_todo_post() {
            if (document.querySelector("#not_exists_message")) { not_exists_message.parentNode.removeChild(not_exists_message);}

            $.ajax({
                headers: {'X-CSRFToken': csrftoken},
                url: "{% url 'todos_create' %}",
                type: 'POST',
                success: function (response) {
                },
                error: function (response) {
                }
            });

            if (!document.querySelector('#list_of_todos')) { 
                const list_of_todos = document.createElement("div");
                list_of_todos.className = "todo__line_grid_layout";
                list_of_todos.id = "list_of_todos";
                const sync_div = document.createElement("div");
                sync_div.style = "position: absolute;";
                sync_div.id = "sync_div";
                list_of_todos.appendChild(sync_div);
            }

            let todo_add_new = document.querySelector('#create_new_todo');
            if (todo_add_new) { 
                delete_element(todo_add_new);
            }

            let this_id = document.querySelectorAll('.todo__block').length + 1;

            let div1 = document.createElement("div")
            div1.className = "todo__block"
            div1.id = `todo__block_${this_id}`
            div1.innerHTML = `
                            <a class="todo__delete_object" name="todo__delete_account" account="${this_id}" onclick="delete_table(this);"><h2>удалить?</h2></a>
                            <p>
                                <input maxlength="60" oninput="sync_information()" placeholder="Оглавление..." value="">
                            </p>
                            <p>
                                <textarea oninput="sync_information(); autosize(this)" maxlength="250" placeholder="Что надо сделать..."></textarea>
                            </p>
                            <label class="toggler-wrapper style-1">
                            <input type="checkbox" onchange="sync_information()">
                            <div class="toggler-slider">
                                <div class="toggler-knob"></div>
                            </div>
                            </label>
                            <label for="completed_{{forloop.counter}}">Завершенно?</label>`;
            let div2 = document.createElement("div");
            div2.id = `create_new_todo`;
            div2.innerHTML = `<a class="todo__delete_object" onclick="create_todo_post();"><h1>новое дело</h1></a>`;

            list_of_todos.appendChild(div1);
            list_of_todos.appendChild(div2);
        }

        function autosize(el) {
            el.style.cssText = 'height:auto; padding:0';
            el.style.cssText = 'height:' + el.scrollHeight + 'px';
        }
        function delete_table(el) {
            el = el || this;
            let all_nums = el.name.split("_");
            let elem_id = el.getAttribute('account');

            // also we must send that we delete this block

            delete_element(document.getElementById("todo__block_" + elem_id));

            $.ajax({
                headers: {'X-CSRFToken': csrftoken},
                data: {"row_id": elem_id},
                url: "{% url 'todos_delete' %}",
                type: 'POST',
                success: function (response) {
                },
                error: function (response) {
                }
            });

            correction_of_ids_textareas();
        }
    </script>
{% endblock %}